

<ion-list>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)"> 
  <ion-list>
    <ion-item>
      <ion-input id ="nome" name="nome" [(ngModel)]="nome" required="" label="Nome" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input  id ="telefone" name="telefone" [(ngModel)]="telefone" required="" label="Telefone" type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input  id ="senha" name="senha" [(ngModel)]="senha" required="" label="Senha" type="password" value="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input  id ="email" name="email" [(ngModel)]="email" required="" label="Email" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>

  
  </ion-list>
  <div style="display: flex; justify-content: center;">
    <ion-button (click)="presentAlert()" type="submit">
      Cadastrar
    </ion-button>
  
    <ion-button routerLink="">
      Login
    </ion-button>
  </div>

</form>