<div class="container">
    <h1>Barber Time</h1>
    <div class="services">
      <div class="service">
        <h2>Corte completo $25</h2>
        <button  routerLink="/agendar" class="btn-agendar">Agendar</button>
      </div>
      <div class="service">
        <h2>Corte completo $25</h2>
        <button routerLink="/agendar" class="btn-agendar">Agendar</button>
      </div>
      <div class="service">
        <h2>Corte completo $25</h2>
        <button class="btn-agendar">Agendar</button>
      </div>
      <div class="service">
        <h2>Corte completo $25</h2>
        <button routerLink="/agendar" class="btn-agendar">Agendar</button>
      </div>
    </div>
    <button routerLink="/menu" class="btn-voltar">Voltar</button>
  </div>
