<section class="info" *ngIf="barbeariaSelecionada">
	<div class="barbearia">
	  
	  <h1>{{ barbeariaSelecionada.nome }}</h1>
	</div>
  </section>

  

  
	

<section class="info">
	<div>
		<h2>Horário de Funcionamento</h2>
		<p>Segunda a Sexta: 9h às 20h<br>
		Sábado: 9h às 18h<br>
		Domingo: Fechado</p>
	</div>

	<div>
		<h2>Localização</h2>
		<p>Rua das Flores, 123<br>
		Centro - São Paulo/SP<br>
		CEP: 01234-567</p>
	</div>

	<div>
		<h2>Serviços Oferecidos</h2>
		<p>Corte de cabelo masculino<br>
		Barba<br>
		Tratamentos capilares<br>
		Venda de produtos para cabelo e barba</p>
	</div>

	
</section>
<section class="info" *ngIf="barbeariaSelecionada">
	<button [routerLink]="'/agendar/' + barbeariaSelecionada._id" class="barbearia-nome"> 
		<h1>Entrar</h1>
	</button>
</section>
	

<footer *ngIf="barbeariaSelecionada">
  <p>{{ barbeariaSelecionada.nome }} - Todos os direitos reservados </p>
</footer>