<section class="info" *ngIf="barbeariaSelecionada">
	<div class="barbearia">
	  <h2>Nome:</h2>
	  <p>{{ barbeariaSelecionada.nome }}</p>
	</div>
  </section>

  

  
	

<section class="info">
	<div>
		<h2>Horário de Funcionamento</h2>
		<p>Segunda a Sexta: 9h às 20h<br>
		Sábado: 9h às 18h<br>
		Domingo: Fechado</p>
	</div>

	<div>
		<h2>Localização</h2>
		<p>Rua das Flores, 123<br>
		Centro - São Paulo/SP<br>
		CEP: 01234-567</p>
	</div>

	<div>
		<h2>Serviços Oferecidos</h2>
		<p>Corte de cabelo masculino<br>
		Barba<br>
		Tratamentos capilares<br>
		Venda de produtos para cabelo e barba</p>
	</div>

	
</section>

<button class="btn-agendar" routerLink="/agendar">Agendar</button>

<footer>
	<p>Barbearia A - Todos os direitos reservados</p>
</footer>
