

<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="mt-4">

  <ion-header>
	<ion-toolbar *ngIf="barbeariaSelecionada">
	  <ion-title>{{ barbeariaSelecionada.nome }}</ion-title>
	</ion-toolbar>
  </ion-header>
  <br>
  


  <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" [(ngModel)]="email" name="email"></ion-input>
  <ion-input type="text" fill="solid" label="Nome" labelPlacement="floating" helperText="Enter a valid nome" errorText="Invalid nome" [(ngModel)]="nome" name="nome"></ion-input>

  <br>

  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="servico" name="servico" id="servico" label="Serviço" [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Select One">
        <ion-select-option *ngFor="let servico of servicos" [value]="servico._id">{{ servico.nome }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="dia" name="dia" id="dia" label="dia" [interfaceOptions]="customPopoverOptions" interface="alert" placeholder="Select One">
        <ion-select-option *ngFor="let dia of dias" [value]="dia.dia">{{ dia.dia }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="hora" name="hora" id="hora" label="hora" [interfaceOptions]="customActionSheetOptions" interface="alert" placeholder="Select One">
        <ion-select-option *ngFor="let hora of horas" [value]="hora.hora">{{ hora.hora }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  

  <!-- Exibição da mensagem de erro -->
 

  <ion-button  class="ion-text-center" type="submit" color="success">Finalizar agendamento</ion-button>
  
 
</form>
