<div class="container">
    <h1>Barber Time</h1>
    <div class="services">
      <div class="service">
        <button  routerLink="/servico">Barbearia A </button>
      </div>
      <div class="service">
        <button  routerLink="/servico">Barbearia A </button>
      </div>
      <div class="service">
        <button  routerLink="/servico">Barbearia A </button>
      </div>
      <div class="service">
        <button  routerLink="/servico">Barbearia A </button>
      </div>
    </div>
  </div>
