


<!-- <div class="barbearias-container">
  <div class="barbearia" *ngFor="let barbearia of barbearia">
    <div class="barbearia-info">
     
      <button  [routerLink]="'/perfil/' + barbearia._id" class="barbearia-nome">{{ barbearia.nome }}</button>
     
    </div>
  </div>
</div> -->

<ion-text class="ion-text-center"  color="black">
  <h1>Barbearias</h1>
</ion-text>


<ion-card class="barbearia" *ngFor="let barbearia of barbearia">
  <ion-card-header>
    <ion-card-title>{{ barbearia.nome }}</ion-card-title>
    
    
  </ion-card-header>

  <ion-card-content>
   
    <ion-button  [routerLink]="'/perfil/' + barbearia._id" class="ion-text-center" type="submit" color="success">Ver barbearia</ion-button>
  </ion-card-content>
</ion-card>