<div class="container">
    <h1>Barber Time</h1>
    <div class="appointment">
      <h2>Barbearia A</h2>
      <h3>Corte completo</h3>
      <div class="calendar">
        <h4>Selecione o dia e horário:</h4>
        <div class="date">
          <p>Quinta-feira</p>
          <p>10 de maio de 2023</p>
        </div>
        <div class="time">
          <label for="horario">Horário:</label>
          <select id="horario">
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
          </select>
        </div>
      </div>
      <button class="btn-agendar">Finalizar agendamento</button>
    </div>
  </div>

