/* Estrutura */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 50px;
  }
  
  /* Formulário */
  .appointment {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Botão */
  .btn-agendar {
    margin-top: 50px;
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Botão (hover) */
  .btn-agendar:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
  /* Estrutura */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 50px;
  }
  
  /* Formulário */
  .appointment {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Botão */
  .btn-agendar {
    margin-top: 50px;
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Botão (hover) */
  .btn-agendar:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
  